[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
nbstripout = "*"
sklearn = "*"
mypy = "*"
flake8 = "*"
pytest = "*"
pytest-watch = "*"
click = "*"
click-log = "*"
jupyterlab = "*"
tpot = "*"
pycaret = "*"
ortools = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
